extends layout

block content

    link(rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous")
    link(rel="stylesheet" href="/stylesheets/index.css")
    -
        var posts = ["Meeting is canceled today.  See you next week!",
                     "This week we will have a change in venue.  We'll be meeting in the Sett this week!",
                     "Remember to pay your dues by this Friday, or else we won't let you play",
                     "We're thinking about getting UW-Sheepshead t-shirts.  Let me know what you think", "1", "2"]
    - var imageUrls = ['/images/home_p1.png', '/images/home_p2.png', '/images/home_p3.png'];
    - var noForEachPage = 3;
    - var pageNo = Math.ceil(announcements.length / noForEachPage)
      
    //- corousel part
    div.container-fluid.website-links
      .row
        .col
          #carouselExampleControls.carousel.slide(data-ride='carousel')
            .carousel-inner
              .carousel-item.active
                  img.img-fluid(src='/images/home_p1.png' alt="Responsive image" )
              each imageUrl in imageUrls
                .carousel-item
                  img.img-fluid(src=imageUrl alt="Responsive image")


      div.row
          //- announcements part
          div.col-md-6
              div.row.sub-row.announcements-row
                  div.col-12
                      div.card.announcements-card
                            h3.card-title 
                                = "Announcements"
                            if admin
                                br
                                div#addAnnouncement
                                    button.btn.btn-primary(type='button', data-toggle='modal', data-target='#publishModal', data-whatever='@fat') Add Announcement
                            div.card-block
                                //- pagination
                                .pagination-container
                                        - for (var i = 0;i<pageNo;++i){
                                        -if (i===0){
                                            div(data-page=i+1)
                                                - for (var j = i*noForEachPage ;(j<(i+1)*noForEachPage)&&(j<announcements.length);++j){
                                                .card.post
                                                    div.card-header.post-header
                                                        b By
                                                        b
                                                            = " " + announcements[j].posterName
                                                        i  on
                                                        i
                                                            = " " + announcements[j].date
                                                        br
                                                    div.card-block
                                                        p.announcement-content
                                                            = announcements[j].content
                                                        if admin
                                                            br
                                                            button.btn.deleteButton.btn-primary(type='button' id=announcements[j].id) Delete Announcement                                                
                                                -}
                                        - } else {
                                            div(data-page=i+1, style='display:none;')
                                                - for (var j = i*noForEachPage ;(j<(i+1)*noForEachPage)&&(j<announcements.length);++j){
                                                .card.post
                                                    div.card-header.post-header
                                                        b By
                                                        b
                                                            = " " + announcements[j].posterName
                                                        i  on
                                                        i
                                                            = " " + announcements[j].date
                                                        br
                                                    div.card-block
                                                        p.announcement-content
                                                            = announcements[j].content
                                                        if admin
                                                            br
                                                            button.btn.deleteButton.btn-primary(type='button' id=announcements[j].id) Delete Announcement                                                
                                                -}
                                        -}                                            
                                        -}
                                        
                                        .pagination.pagination-centered.d-flex.justify-content-center
                                            ul.pagination
                                                li(data-page='-')
                                                    a.page-link(href='#') <
                                                - for (var i = 1;i<=pageNo;++i){
                                                    li.page-item(data-page= i )
                                                        a.page-link(href='#') 
                                                            = ""+i
                                                -}
                                                li(data-page='+')
                                                    a.page-link(href='#') >                            
          //- navigation part
          div.col-md-6
              div.row.sub-row
                  div.col-12
                      div.card
                          h3.card-title Scores
                          div.card-block
                              p.
                                  Check out current point totals to see how you rank this semester!
                              a.btn.btn-primary(href = "/scores") View Scores
              div.row.sub-row
                  div.col-12
                      div.card
                          h3.card-title Rules
                          div.card-block
                              p.
                                  A little rusty on the complex rules of sheepshead? Visit the Rules page to get up to speed!
                              a.btn.btn-primary(href = "/rules") Read up on the Rules
              div.row.sub-row
                  div.col-12
                      div.card
                          h3.card-title Help
                          div.card-block
                              p.
                                  New to the game?  See if some of the advice we've
                                  written helps you pick the game up faster!
                              a.btn.btn-primary(href = "/help") Learn More
              div.row.sub-row
                  div.col-12
                      div.card
                          h3.card-title Fun Facts
                          div.card-block
                              p.
                                  Want to learn some sheepshead trivia that will wow anyone at a party? Check out the Fun Facts
                                  page to find out how the game got its name and more!
                              a.btn.btn-primary(href = "/fun-facts") Grow Your Knowledge
              div.row.sub-row
                  div.col-12
                      div.card
                          h3.card-title About
                          div.card-block
                              p.
                                  The sheepshead club at UW Madison has been around for
                                  10,000 years... Well, not really. Visit the About page for more information about the club!
                              a.btn.btn-primary(href = "/about") Find out More


      //- component of pop up window
      #publishModal.modal.fade(tabindex='-1', role='dialog', aria-labelledby='publishModalLabel', aria-hidden='true')
        .modal-dialog(role='document')
          .modal-content
            .modal-header
              h5#publishModalLabel.modal-title New Announcement
              button.close(type='button', data-dismiss='modal', aria-label='Close')
                span(aria-hidden='true') ×
            .modal-body
              form
                .form-group
                  label.col-form-label Posted by:
                  input#poster.form-control(type='text')
                .form-group
                  label.col-form-label Content:
                  textarea#postContent.form-control
            .modal-footer
              button.btn.btn-default(type='button', data-dismiss='modal') Close
              button.btn#postButton.btn-primary(type='button') Publish



    script(src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous")
    script(src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous")
    script(src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous")
    script(type='text/javascript', src='js/index.js')